@import "tailwindcss";

/* --------------
---- Animations
-----------------*/
.load-ani {
  animation: fade-up 3s ease-in-out;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.load-ani-zoomIn {
  animation: zoom-in 5s ease-in-out;
}

@keyframes zoom-in {
  0% {
    scale: 50000%;
  }
  100% {
    scale: 101%;
  }
}

.load-ani-pop {
  animation: icon-pop 2s ease-in;
}

@keyframes icon-pop {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  50% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.main-content-bg {
  position: fixed;
  top: 0;
  animation: fadeOut 2s ease-in-out;
  z-index: 99;
}

@keyframes fadeOut {
  0% {
    scale: 1000%;
    height: 100dvh;
    width: 100dvw;
    background-color: black;
  }
  50% {
    scale: 1000%;
    height: 100dvh;
    width: 100dvw;
    background-color: transparent;
  }
  100% {
    scale: 0%;
    background-color: transparent;
  }
}

/* End Animations */

.bubble {
  font-size: 1rem;
  position: absolute;
  background: var(--color-emerald-400);
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  top: -60px;
  left: 20px;
  text-align: center;
}

.bubble::after {
  content: "";
  background: var(--color-emerald-400);
  height: 12px;
  width: 12px;
  position: absolute;
  bottom: -10px;
  left: 40%;
  clip-path: ellipse();
}

.bubble::before {
  content: "";
  background: var(--color-emerald-400);
  height: 8px;
  width: 8px;
  position: absolute;
  bottom: -20px;
  right: 40%;
  clip-path: ellipse();
}
